@font-face {
	font-family: UniNeueBook;
	src: url("../fonts/Fontfabric - UniNeueBook.b45a4dd8.otf") format("opentype")
}
@font-face {
	font-family: UniNeueHeavy;
	src: url("../fonts/Fontfabric - UniNeueHeavy.270b7d3f.otf") format("opentype")
}
@font-face {
	font-family: UniNeueBold;
	src: url("../fonts/Fontfabric - UniNeueBold.7b99adec.otf") format("opentype")
}
@font-face {
	font-family: ProximanNovaBold;
	src: url(../fonts/ProximaNovaBold.a549c239.eot);
	src: url(../fonts/ProximaNovaBold.a549c239.eot) format("embedded-opentype"), url(../fonts/ProximaNovaBold.68110b89.woff) format("woff"), url(../fonts/ProximaNovaBold.dd8896df.woff2) format("woff2"), url(../fonts/ProximaNovaBold.d70c1025.ttf) format("truetype")
}
@font-face {
	font-family: LoraBold;
	src: url(../fonts/LoraBold.02427e1d.eot);
	src: url(../fonts/LoraBold.02427e1d.eot) format("embedded-opentype"), url(../fonts/LoraBold.70ceaf2c.woff2) format("woff2"), url(../fonts/LoraBold.b1a92c4e.woff) format("woff"), url(../fonts/LoraBold.3029fbe8.ttf) format("truetype"), url(../img/LoraBold.f2e6d432.svg#LoraBold) format("svg")
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, html {
	width: 100%;
	font-family: UniNeueBook, sans-serif
}

#main-content{
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
}
.content_title{
	font-family: LoraBold,sans-serif;
	font-size: 40px;
	color: #232328;
	padding-bottom: 1.666vw;
	padding-top: 4.635vw;
}
.content_description{
	font-family: UniNeueBook,sans-serif;
	font-size: 20px;
	color: #232328;
	padding-bottom: 2.239vw;
	opacity: .62;
}
@media screen and (max-width: 1480px) {
	#main-content {
		margin: 0 20px;
	}
}
.m-language-select a,
.language-select a{
	color: #fff;
}
